footer{
  @include gradient-footer($grey, $color-dark-grey, $black);
  #menu-social {
    list-style: none;

    li {
      a{
        &:before{
          font-family: "FontAwesome";
          display: inline-block;
          vertical-align: top;
          font-size: 3rem;
        }

        &[title*="Facebook"]{
          color: $background-facebook;

          &:before{
            content: "\f082";
          }
        }

        &[title*="Google Plus"]{
          color: $background-google-plus;

          &:before{
            content: "\f2b3";
          }
        }

        &[title*="LinkedIn"]{
          color: $background-linkedin;

          &:before{
            content: "\f08c";
          }
        }

        &[title*="Skype"]{
          color: $background-skype;

          &:before{
            content: "\f17e";
          }
        }

        &[title*="Twitter"]{
          color: $background-twitter;

          &:before{
            content: "\f081";
          }
        }

        &[title*="Email"]{
          color: $white;

          &:before{
            content: "\f003";
          }
        }
      }

      .sr-text {
        display: none;
      }

    }
  }
  .contact{
    padding-bottom: 5rem;
    padding-top: 2rem;
    a.without-color{
      color: transparent;
    }
    .icon-contact{
      font-size: 4rem;
      color: $white;
      &.fa-stack-1x{
        font-size: 3rem;
      }
    }
  }
  .copyright{
    background-color: $background-footer;
    color: $white;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 40px;
    line-height: 2;
    span{
      vertical-align: middle;
    }
  }
}