.portfolio-list{
    margin: 3rem 0;

    .panel-body {
        padding: 0;

        .image {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 350px;
        }
    }

    .panel-footer {
        a {
            color: $orange;

            &:hover,
            &:focus {
                color: $blue-sky;
            }
        }

        
    }
}