.skills-details{
    margin: 3rem;

    a.collapsed {
        color: $orange;
    }

    a[aria-expanded="true"] {
        .fa-arrow-circle-down {
            transform: rotate(180deg);
        }
    }

    .page-header {
        border-bottom: none;
    }

    .progress{
        border-radius: 10px;
        position: relative;

        .progress-bar {
            border-radius: 10px;
            background-color: $blue-sky;
        }

        .progress-completed {
            position: absolute;
            right: 0px;
	        font-weight: 800;
	        padding: 3px 10px 2px;
        }
    }
}
