.btn{
  border-radius: 10px;
  
  &-ver{
    border-radius: 20px;
    padding: 6px 40px;
  }
}

.btn-default{
  @include gradient-buttons(lighten($blue-sky, 40%), $blue-sky);

  &:hover{
    @include gradient-buttons(lighten($orange, 40%), $orange);
  }
}
