body {
  font-size: 16px;
  font-family: "Arial";
}

a {
  outline: none;
}

h1.title-section {
  font-size: 4rem;
}

h2,
h2 a {
  color: $orange;
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h2 a,
h3 a {
  &:hover,
  &:focus {
    color: $blue-sky;
    text-decoration: none;
  }
}

@include breakpoint(tablet) {
    h2,
    h2 a {
        font-size: 3rem;
    }
}