//
// Global variables
// --------------------------------------------------

//Colores de background
$background-menu: #FCFCFC;
$background-facebook: #3B5998;
$background-google-plus: #D34836;
$background-linkedin: #007BB5;
$background-skype: #12A5F4;
$background-twitter: #55ACEE;
$background-contact: #CCCCCC;
$background-footer: #000000;
$background-progress: #EEEEEE;

//Colores
$color-light-grey: #FCFCFC;
$white: #FFFFFF;
$black: #000000;
$color-dark-grey: #0E0E0E;

//Colores del logo
$orange: #FF9900;
$blue-sky: #00CCFF;
$grey: #666666;